@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

h1 {
  text-align: center;
}

mat-card {
  max-width: 30%; 
  margin: 2em auto;
  text-align: center;
}
    
    
mat-form-field {
  display: block;
}

button.mat-raised-button.mat-button-base.mat-primary{
    margin-top: 7% !important;
}

.box{
  display: flex;
}

.submit-btn{
  margin-left: 40%;
}

::ng-deep .mat-form-field-infix{
  margin-top: 5%;
}

