@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

h1 {
  text-align: center;
}

mat-card {
  max-width: 80%; 
  margin: 2em auto;
  text-align: center;
}

    
mat-form-field {
  display: inline-block;
  width: 33%;
}

button.mat-raised-button.mat-button-base.mat-primary{
    margin-top: 7% !important;
    display: inline-block;
}

.box{
  display: flex;
}

.submit-btn{
text-align: center;
}

::ng-deep .mat-form-field-infix{
  margin-top: 5%;
}

.ligne{
  text-align: center;
}

mat-form-field.full-width-input-right {
  margin-left: 10%;
}

mat-form-field.full-width-input-left {
  margin-right: 10%;
}



